/**
 * Heimu Plugin
 */

body:not(.heimu_rhongomyniad) .heimu,
body:not(.heimu_rhongomyniad) .heimu a,
body:not(.heimu_rhongomyniad) a .heimu {
    display: inline;
    background-color: #252525;
    color: #252525 !important;
    text-shadow: none;
}

body:not(.heimu_rhongomyniad) .heimu:hover,
body:not(.heimu_rhongomyniad) .heimu:active {
    transition: color 0.13s linear;
    color: #fff !important;
}

body:not(.heimu_rhongomyniad) .heimu:hover a,
body:not(.heimu_rhongomyniad) a:hover .heimu {
    transition: color 0.13s linear;
    color: #add8e6 !important;
}